{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>
  <body>
    <header>
      <a href="#" class="logo">Portfolio</a>
      <div class="toggle" onclick="toggleMenu();"></div>
      <ul class="menu">
        <li><a href="#home" onclick="toggleMenu();">Home</a></li>
        <li><a href="#about" onclick="toggleMenu();">About</a></li>
        <li><a href="#resume" onclick="toggleMenu();">Resume</a></li>
        <li><a href="#work" onclick="toggleMenu();">Work Experience</a></li>
        <li><a href="#projects" onclick="toggleMenu();">Projects</a></li>
        <li><a href="#contact" onclick="toggleMenu();">Contact</a></li>
      </ul>
    </header>
    <section class="banner" id="home">
      <div class="photo">
        <img src="static/img/usa.png">
      </div>
      <div class="textBx">
        <h2><span>Pranav Nair</span></h2>
        <h3>World Junior squash competitor who is a driven, passionate, and motivated computer science student.</h3>
        <a href="#about" class="btn">About Me</a>
      </div>
    </section>
    <section class="about" id="about">
      <div class="heading">
        <h2>About Me</h2>
      </div>
      <div class="content">
        <div class="contentBx">
          <p>Currently pursuing my master’s in computer science at Stevens Institute of Technology specializing in the fields of Artificial Intelligence and Machine Learning. The Stevens computer science program provided me advanced theoretical and practical skills in AI, Machine Learning, and Big Data during my academic career. I have learnt the importance of user involvement in software product and how user feedback is essential for customer retention, customer satisfaction, and improve software product. <b>96%</b> of Stevens students secured jobs within six months of graduation. Right now, for my full-time job search, I am looking for a fast-growing technology based innovative company that is looking for or currently has Artificial Intelligence and Machine Learning integrated to their projects since Artificial Intelligence is required for handling exponentially growing data or “Big Data” which is integral in today's industry success.
          </p>
        </div>
      </div>
    </section>
    <section class="services" id="resume">
      <div class="heading white">
        <h2>Resume</h2>
      </div>
        <div class="container">
          <img src="static/img/RESUME.png">
        <!--  <embed type="application/pdf" src="static/img/RESUME.pdf" width="1150" height="700" /> -->
        </div>
      </div>
    </section>
    <section class="work" id="work">
      <div class="heading">
        <h2>Work Experience</h2>
        <p>Internships</p>
      </div>
      <div class="content">
        <div class="workBx">
          <img src="static/img/syntel.png">
        </div>
        <div class="workBx">
          <p>Created an existing ECMT (Employee Communication Management Tool) Java based live active web application for employers.</p><br>
          <p>Technologies used: Java/J2EE, Spring Framework Core Language, Spring Boot API, Spring MVC, Junit for testing, Maven for building.</p>
          <h3>Software Developer Intern<br><span>Phoenix, Arizona</span></h3></h3>
        </div>
        <div class="workBx">
          <img src="static/img/tp.png">
        </div>
        <div class="workBx">
          <p>Designed a Robotic Process Automation (RPA) project to extract & access employers’ information in minimal time and developed a multilingual chatbot for people with different lingual backgrounds.</p><br>
          <p>Technologies Used: UiPath software, Python, Google Dialog Flow, API.</p>
          <h3>Software Developer Intern<br><span>Dubai, UAE</span></h3></h3>
        </div>
      </div>
      <div class="heading">
        <a href="#contact" class="btn">Contact Me</a>
      </div>
    </section>
    <section class="testimonial" id="projects">
      <div class="heading">
        <h2>Projects</h2>
      </div>

      <div class="content">
        <div class="servicesBx">
          <img src="static/img/icon1.png">
          <h2>Academic</h2>
          <a href="{% url 'portfolio_index' %}" class="btn">Click to view projects</a>
        </div>
      </div>
    </section>
    <section class="contact" id="contact">
      <div class="heading white">
        <h2>Contact Me</h2>
      <!--  <p>Pellentesque habitant morbi tristique senectus</p> -->
      </div>
      <div class="content">
        <div class="contactInfo">
          <h3>Contact Info</h3>
          <div class="contactInfoBx">
            <div class="box">
              <div class="icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="text">
                <h3>Address</h3>
                <p>803 Secaucus Road,<br>Jersey City, NJ,<br>07307</p>
              </div>
            </div>
            <div class="box">
              <div class="icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="text">
                <h3>Phone</h3>
                <p>(609) 865-5318</p>
              </div>
            </div>
            <div class="box">
              <div class="icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="text">
                <h3>Email</h3>
                <p>pnair3@stevens.edu</p>
              </div>
            </div>
          </div>
        </div>
        <div class="formBx">
          <form>
            <h3>Message Me</h3>
            <input type="text" name="name" placeholder="Full Name">
            <input type="email" name="email" placeholder="Email">
            <textarea name="message" placeholder="Your Message..."></textarea>
            <input type="submit" class="submitbutton" value="Send">
          </form>
        </div>
      </div>
    </section>

    <div class="copyright">
      <p>Copyright © 2021 Pranav Nair. All Rights Reserved</p>
    </div>
    <script type="text/javascript">
      window.addEventListener('scroll', function(){
        var header = document.querySelector('header');
        header.classList.toggle('sticky', window.scrollY > 0);
      });

      function toggleMenu() {
        var menuToggle = document.querySelector('.toggle');
        var menu = document.querySelector('.menu');
        menuToggle.classList.toggle('active')
        menu.classList.toggle('active')
      }
    </script>
  </body>
</html>
