{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h2>{{ project.title }}</h2>
<div class="row" style="padding-bottom: 25px;">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
    </div>
</div>

<a style="float: right; border-radius: 15px;" href="{% url 'portfolio_index' %}"
   class="btn btn-outline-success btn-lg btn-rounded waves-effect">
    Back
</a>
{% endblock %}
